.videoPlayer_position {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.link_to_List {
    padding: 10px 20px;
    position: relative;
    top: 10px;
}

.videoPlayer_title {
    margin: 0px 0 2% 10%;
    text-align: left;
    font-size: 2.5rem;
}

.videoPlayer_footer {
    margin:0 9%;
    max-width: 85%;
    display: flex;
    flex: 1 1;
    text-align: center
}

.videoPlayer_footer_username {
    font-size: 2.2rem
}

.spacer {
    flex: 1
}

.videoPlayer_footer_views {
    font-size: 2.2rem;
    float: right;
}