.searchBar {
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    max-width: 45%;
    display: flex;
    align-items: center
}

.inputField {
    flex: 1 1;
    border: 0;
    border-bottom: 0.5px solid darkgrey;
    min-width: 160px;
    padding: 5px;
}

@media(min-width:700px) {
    .searchBar {
        margin-left: auto;
    }
}

.inputField:focus {
    color: #4B367C;
    outline-width: 0;
    border-bottom: 1px solid #4B367C;
}

.search_button_style {
    background-color: white;
    border: 0.5px solid #2a1b4e;
    color: #2a1b4e;
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 5px;
    min-width: 65px;
    width: 7%;
    padding: 5px 0;
}

.search_button_style:hover {
    background-image: linear-gradient(#4B367C, #2a1b4e);
    border-color: white;
    transition: 0.8s;
}

.dropdown_Item {
    display: list-item;
    text-align: center;
    font-size: 1.8rem;
    color: black;
}

.dropdown_Item:hover {
    color: black;
    text-decoration: none;
}

#dropdown-item-button {
    min-width: 60px;
    border: 1px solid #2a1b4e;
    background-color: #2a1b4e;
    margin-left: 5px;
    padding: 4px 15px;
    font-size: 1.3rem;
    font-style: italic;
}

.dropdown-menu {
    min-width: 60px;
}

.error_div {
    text-align: center;
    color: darkred;
    font-size: 1.5rem;
}

.hide {
    display: none
}