.header_style {
    background-image: linear-gradient(#4B367C, #2a1b4e);
    border-radius: 0;
    margin: 0;
}

.brand_style {
    margin-left:3%;
    color: white
}

.brand_style:hover{
    color: white;
    text-decoration-style: solid
}