.card_style {
    border-radius: 5px;
    border: 1px solid #39236e83;
    margin: 10px 10px;
    padding: 0 0 0 0;
    text-align: center
}

.card_title {
    padding: 10px 0 10px 0;
    color: black;
    background-image: linear-gradient(#4B367C, #2a1b4e);
    color: white;
    border-bottom: 0.25px solid rgb(102, 100, 100)
}
.card_image:hover {
    opacity: 0.9;
    cursor: pointer;
}