.spinnerAlignment {
    text-align: center;
    margin-top: 25%
}

.card_text_style {
    max-width: 100%;
}

.defaultList_spacing {
    margin-top: 5%;
}

.searchResult_spacing {
    margin-bottom: 5%;
}

.searchResults_title {
    color: #4B367C;
    margin: 5% 0 2% 3%;
    padding-left:20px;
    padding-bottom: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    border-bottom: 1px solid #4B367C;
    max-width: 60%;
    text-align: left;
}

.pagination_buttons_div {
    border-top: 1px solid #39236e83;
    text-align: center;
    padding-top: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pagination_buttons_style {
    background-color: white;
    border: 0.5px solid #2a1b4e;
    color: #2a1b4e;
    font-weight: 400;
    min-width: 110px;
    width:15%;
    margin:2px
}

.pagination_buttons_style:hover {
    background-image: linear-gradient(#4B367C, #2a1b4e);
    border:0;
    transition: 0.8s;
}